# Find categories in the SA Government Photographic Collection

See: https://data.history.sa.gov.au/sagpc

In [82]:
import requests
import pandas as pd

In [80]:
API_URL = 'http://data.history.sa.gov.au/sagpc'

In [77]:
def get_subcategories(category, categories, level=0):
    # Only include categories that are really categories
    if 'CategoryName' in category and category['CategoryName'] and category['CategoryName'] != 'Category':
        categories.append({'id': category['id'], 'name': category['CategoryName'].strip(), 'level': level})
    # If there are subcats, loop through them
    if 'subcategories' in category:
        # Hold on, we're going down a level in the hierarchy
        level += 1
        for subc in category['subcategories']:
            get_subcategories(subc, categories, level)
        # Going back up the hierarchy
        level -= 1
    return categories

def list_categories():
    response = requests.get(f'{API_URL}/categories/all')
    data = response.json()
    categories = get_subcategories(data, [])
    return categories

In [78]:
categories = list_categories()

In [84]:
df = pd.DataFrame(categories)
df.to_csv('sa-gov-photo-categories.csv', index=False)

In [86]:
df.head(10)

    id                name  level
0    1         $Categories      1
1    2           $Keywords      1
2  302  Clothing and Dress      2
3  354  Clothing 1900-1910      3
4  375  Clothing 1910-1920      3
5  196        accomodation      2
6  279         agriculture      2
7  286                cows      3
8  282                crop      3
9  288               dairy      3